# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#submodules
# submodules/

# Executables
*.exe
*.out
*.app

# Build
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
build/

# Errors
*.stackdump
*.trace

# Latex
doc/*
!doc/*.tex
!doc/Makefile

#config file for build
compile.cfg
debugfiles
lastBuild.txt

#systemfiles
.vscode/ipch
.vs
*.vcxproj.filters
*.vcxproj.user

#resources
assets/textures
assets/models